<h2>Templates: <small>Dinámicos</small></h2>
<hr />

<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input
        class="form-control"
        name="nombre"
        [ngModel]="persona.nombre"
        placeholder="Nombre de la persona"
        required
      />
      <span
        class="form-text text-danger"
        *ngIf="
          miFormulario.controls.nombre?.errors &&
          miFormulario.controls.nombre?.touched
        "
        >Este campo es obligatorio</span
      >
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Agregar</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input
          class="form-control"
          [(ngModel)]="nuevoJuegoFavorito"
          name="nuevoJuego"
          (keyup.enter)="agregarJuego()"
          placeholder="Agregar favorito"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="agregarJuego()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de juegos favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Favoritos</label>
    <div class="col-sm-10">
      <div
        class="input-group mb-1"
        *ngFor="let juego of persona.favoritos; let i = index"
      >
        <input
          [(ngModel)]="juego.nombre"
          name="favorito_{{ i }}"
          class="form-control"
          required
        />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="borrarItemFavorito(i)"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>

  <!-- Guardar Button -->
  <div class="row">
    <div>
      <button
        class="btn btn-primary float-end"
        type="button"
        (click)="guardar()"
        [disabled]="miFormulario.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Persona Data</span>
<pre>{{ persona | json }}</pre>

<div class="row">
  <div class="col">
    <h1>miFormulario Data</h1>

    <span>Valid</span>
    <pre> {{ miFormulario.valid }} </pre>

    <span>Invalid</span>
    <pre> {{ miFormulario.invalid }} </pre>

    <span>Pristine</span>
    <pre> {{ miFormulario.pristine }} </pre>

    <span>Touched</span>
    <pre> {{ miFormulario.touched }} </pre>

    <span>Value</span>
    <pre> {{ miFormulario.value | json }} </pre>

    <span>CustomDirective</span>
    <pre> {{ miFormulario.controls.existencias?.errors | json }} </pre>
  </div>
</div>
